
.highlight {
    background-color:lightblue;
    color: black;
}
.error {
    background-color: lightcoral;
    border: red;
}
html {
    background-color: darkgray;
    color: white;
    text-align: center;
    font-size: 400%;
}
#start {
    border-radius: 15%;
    color: red;
    background-color: black;
    font-size: 70%;
}
#start:hover {
    cursor: pointer;
    color: green;
    background-color: black;
    font-size: 70%;
}
#WPM {
    color: green;
}
#message {
    color: darkgreen;
}
h1 , #title{
    text-align: center;
}
#typed-value {
    font-size: 70%;
}